{% extends "app/form.html"%}

{%block title%} Password Reset {%endblock%}

{%block body%}


<div class="container mt-5 col-lg-5 col-md-auto col-sm-auto border ">
    <form  method="post" >
        {% csrf_token%}
        <div class="mb-3">
            <label for="id_email" class="form-label">Enter your email address to receive the link to reset password</label>
            <input type="email" class="form-control" id="id_email" name="email" required="" autocomplete="email">
          </div>
        <input type="submit" class="btn btn-primary" value="Send E-mail">
      </form>
      <br>
</div>
{% endblock %}