{% extends "app/form.html" %}

{% block body %}
<div class="container mt-5 col-lg-5 col-md-auto col-sm-auto border ">
  <form method="post">
    {%csrf_token%}
    {{form}}
    <br>
    <input type="submit" class="btn btn-primary" value="Change Password">
  </form>
</div>
   <!--
    <div class="container mt-5 col-lg-5 col-md-auto col-sm-auto border ">
        <form  method="post" >
            {% csrf_token%}
            <div class="mb-3">
                <label for="id_new_password1" class="form-label">New Password:</label>
                <input id="id_new_password1" class="form-control" type="password" name="new_password1" autocomplete="new-password" required="">
              </div>
            <button class="btn btn-outline-secondary" id='bt1' type="button" >
                <i class="bi bi-eye-slash-fill"></i>
            </button>
            <div class="mb-3">
                <label for="id_new_password2" class="form-label">New Password Confirmation:</label>
                <input id="id_new_password2" class="form-control" type="password" name="new_password2" autocomplete="new-password" required="">
            </div>
            <button class="btn btn-outline-secondary" id='bt2' type="button" >
              <i class="bi bi-eye-slash-fill"></i>
          </button>
          <br><br>
            <input type="submit" class="btn btn-primary" value="Reset">
          </form>
          <br>
    </div>
  -->
    <script>
        let password1 = document.getElementById('id_new_password1');
        let password2 = document.getElementById('id_new_password2');
        let bt1 = document.getElementById('bt1');
        let bt2 = document.getElementById('bt2');
        function getPassword(b,p){
          b.innerHTML = `<i class="bi bi-eye-slash-fill"></i>`;
          p.type = 'password';
        }
        function getText(b,p){
          b.innerHTML = `<i class="bi bi-eye-fill"></i>`;
          p.type = 'text';
        }
        bt1.onmouseover = () => getText(bt1,password1);
        bt2.onmouseover = () => getText(bt2,password2);
        bt1.onmouseout = () => getPassword(bt1,password1);
        bt2.onmouseout = () => getPassword(bt2,password2);


      </script>
{% endblock body %}