{% extends "app/basic.html" %}
{%block title%} Events {% endblock %}
{% block body %}


{% for i in events%}

    <div class="container my-5 col-lg-8">
        <div class="card">
            <div class="card-body">
                <div class="card-header">{{i.title}}</div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <img src="/app{{i.pfp.url}}" alt="Picture of event {{i.title}}" class="img-fluid rounded-start" style="width: 100%; height: 100%;">
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        {{i.description}}
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    Start time - {{i.start_time}}
                    End time - {{i.end_time}}<br>
                    
                        {%if request.user.is_authenticated %}
                        {% if request.user in i.users.all %}
                        <button class="btn btn-outline-danger" id="register" data-id = "{{i.id}}" >Unregister</button>
                        {% else %}
                        <button class="btn btn-outline-success" id="register" data-id = "{{i.id}}" >Register</button>
                        {%endif%}
                    {%endif%}   
                </div>
            </div>
            
        </div>
    </div>

{%endfor%}

<script>
    let buttons = document.querySelectorAll('button');
    buttons.forEach((button) => {
        button.onclick = async () => {
        let response = await fetch(`/app/registerUserForEvent/${button.dataset.id}`);
        let data = await response.json()
        if(data['registered'] === 'yes'){
            button.className = 'btn btn-outline-danger';
            button.innerText = 'Unregister';
        } else {
            button.className = 'btn btn-outline-success';
            button.innerText = 'Register';
        }
        
    }
    })
    
    
</script>

{%endblock%}