{% extends "app/form.html"%}
{%block title%} Login {%endblock%}

{%block body%}
{% if alert %}
    <script>
        //to add the functionality of only few attempts
        document.addEventListener('DOMContentLoaded', function () {
            let div = document.getElementById('eerror');
            div.innerText = "You have entered an incorrect password"
        })
    </script>
{% endif %}


<div class="container mt-3 col-lg-5 col-md-auto col-sm-auto border ">
  <h2> Login</h2>
    <form action="{%url 'login_user'%}" method='POST' >
        {% csrf_token%}
        <div class="mb-3">
          <label for="id_email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="id_email" required="" name="email" value="{{email}}">
        </div>
        <div class="mb-3 ">
          <label for="id_password" class="form-label">Password</label>
          <input type="password" class="form-control " id="id_password" name="password" required="">
          <div id="eerror" class="mb-3 text-danger">
            {%if noaccount%} An account associated with this email address does not exist {%endif%}
            {%if alert%} You have entered incorrect password. Please try again or reset your password {%endif%}
          </div>
          <button class="btn btn-outline-secondary" id='bt1' type="button" onmouseover="getText()" onmouseout="getPassword()">
            <i class="bi bi-eye-slash-fill"></i>
          </button>
        </div>
        <a href="{% url 'reset_password' %}" class="text-decoration-none"> Forgot Password ? </a> <br> <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <br>
      <a href="{% url 'signup' %}" class="text-decoration-none"> Don't have an account ? </a>
</div>
<script>
  var password = document.getElementById('id_password');
  function getPassword(){
    let bt1 = document.getElementById('bt1');
    bt1.innerHTML = `<i class="bi bi-eye-slash-fill"></i>`;
      password.type = 'password';
  }
  function getText(){
    let bt1 = document.getElementById('bt1');
    bt1.innerHTML = `<i class="bi bi-eye-fill"></i>`;
    password.type = 'text';
  }
</script>
{%endblock%}

