<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%block post%}
    <div class="container mt-3">
        <div class="card shadow-sm mb-3 p-3 rounded-3">
            <div class="d-flex align-items-center">
                <img src="profile.jpg" alt="Profile" width="40" height="40" class="rounded-circle me-2">
                <div>
                    <div class="fw-bold">John Doe</div>
                </div>
            </div>
            <p class="mt-2 text-break fs-2">
              Heading 
          </p>
            <p class="mt-2 text-break">
                Just had an amazing time at the beach! 🌊🏖️ #Vacation
            </p>
            <div class="d-flex justify-content-between mt-2">
                <button class="btn btn-outline-secondary btn-sm"><i class="bi bi-share"></i> Share</button>
            </div>
        </div>
    </div>
    {% endblock%}

    <!--Form-->
    <div class="container mt-3 col-lg-4 border ">
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>


    <!--User profile link-->
    <a class="nav-link" href="{% url 'app:userp'%}">User Profile</a></li>

</body>
</html>