{%  extends "app/basic.html" %}
{%load static%}
{%block title%} {{post.heading}} {%endblock%}

{%block body%}
    <script >
        function submitComment(event){
            event.preventDefault();
            const form = document.querySelector('#commentform')
            const formdata = new FormData(form)
            fetch('/app/addcomment', {
                method: "POST",
                headers: {
                    "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value
                },
                body: formdata 
            })
            .then(response => response.json())
            .then(data => {
                if(data.error) {
                    alert("Error: "+data.error);
                } else {
                    let comments = document.getElementById('commentlist')
                    let newcomment = document.createElement("div")
                    //Need to render user's image while user adds a new comment
                    newcomment.innerHTML = `
                    <div class="container p-3 m-3 border rounded-3">
                    <div class="d-flex align-items-center">
                        <img src="/app${data.pfp}" alt="Profile" width="40" height="40" class="rounded-circle me-2">
                        <div>
                            <!--Username-->
                            <div class="fw-bold">${data.username}</div>
                        </div>
                    </div>
                    ${data.content}
                </div>
                    `
                    comments.innerHTML = newcomment.innerHTML + comments.innerHTML;

                    document.getElementsByName('content').value = "";
                }
            })
        }
    </script>
    <div class="container mt-3" >
        <div class="card shadow-sm mb-3 p-3 rounded-3" >
            <div class="d-flex align-items-center">
                <img src="/app{{post.user.userprofile.pfp.url}}" alt="Profile" width="40" height="40" class="rounded-circle me-2">
                <div>
                    <!--Username-->
                    <div class="fw-bold">{{post.user}}</div>
                </div>
            </div>
            <!--Heading-->
            <div class="mt-2 fs-2 text-info" id="link" data-id={{post.id}}>
              {{post.heading}}
            </div>
          <!--Content-->
            <p class="mt-2 text-break">
                {{post.content}}
            </p>
            <div class="container" id="like_counter_{{post.id}}">Likes: {{post.likes.count}}</div>
            <div class="d-flex justify-content-between mt-2">
                {%if user.is_authenticated %}
                {% if user in post.likes.all %}
                <button  class="btn" style="width: 40px;" data-id = "{{post.id}}"  ><i class="bi bi-hand-thumbs-up-fill" style="font-size: 1.5rem; color: cornflowerblue;"></i></button>
                {% else %}
                <button  class="btn" style="width: 40px;" data-id = "{{post.id}}"><i class="bi bi-hand-thumbs-up" style="font-size: 1.5rem; color: cornflowerblue;"></i></button>
                {%endif%}
                {%endif%}
            </div>
        </div>
    </div>
    
    {% if user.is_authenticated%}
    <div class="container col-lg-6 border ms-0 m-3">
        <form onsubmit="submitComment(event)" id="commentform">
            {% csrf_token %}
            <div class="mb-3 align">
                <label for="id_content" class="form-label">Add a comment</label>
                <textarea class="form-control" id="id_content" name="content" required=""> </textarea>
              </div>
            <input type="hidden" name="id"value="{{post.id}}">
            <button type="submit" class="btn btn-primary">Comment</button>
        </form>
    </div>
    {% else %}
    <div class="container col-lg-6 border ms-0 m-3">
        <a href="{% url 'login_user'%}" class="link-primary text-decoration-none fs-4">Login to leave a comment </a>
    </div>
    {% endif  %}
    <div id="commentlist" >
        {% for i in comments %}
        <div class="container p-3 m-3 border rounded-3">
            <div class="d-flex align-items-center">
                <img src="/app{{i.user.userprofile.pfp.url}}" alt="Profile" width="40" height="40" class="rounded-circle me-2">
                <div>
                    <!--Username-->
                    <div class="fw-bold">{{i.user}}</div>
                </div>
            </div>
            {{i.content}}
        </div>
        {% endfor %}
    </div>
    <script src="{%static "js/like.js" %}">
    </script>
{%endblock%}