{%include "app/form.html"%}
<!--Can change the alert into a different style of css-->

{% if usernameWarning %}
<script>alert("Given username is already in use") </script>
{% endif %}
{% if emailWarning %}
<script>alert("Given email is already in use") </script>
{% endif %}

{%block body%}
<div class="container mt-3 col-lg-4 border ">
    <form action={%url 'app:signup'%} method='POST'>
        {% csrf_token%}
        <div class="mb-3">
            <label for="id_username" class="form-label">Username</label>
            <input type="text" class="form-control" id="id_username" name="username" required="">
          </div>
        <div class="mb-3">
          <label for="id_email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="id_email" required="" name="email">
        </div>
        <div class="mb-3">
          <label for="id_password" class="form-label">Password</label>
          <input type="password" class="form-control" id="id_password" name="password" required="">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
{%endblock%}
<hr>
<a href="{% url 'app:login_user' %}"> Already have an account ? </a>