{%extends "app/form.html"%}

{%block title%} Sign up{%endblock%}
{%block body%}

<script >
  document.addEventListener('DOMContentLoaded', function() {
    const form = document.querySelector('form');
    const password = document.querySelector('#id_password');
    form.addEventListener('submit', function(e) {
      //Need to fix regex
        let regex = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$/;
        let pvalue = password.value;
        if(regex.test(pvalue)){

        }else {
          let error = document.querySelector('#perror');
          error.innerText = `Password must contain one lowercase letter, one uppercase letter, one special symbol and be atleast 8 characters long`;
          e.preventDefault();
        }
        
    })
  })
</script>
<div class="container mt-3 col-lg-4 border ">
  <h2> Sign Up</h2>
    <form action="{%url 'signup'%}" method='POST'>
        {% csrf_token%}
        <div class="mb-3">
          <label for="id_email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="id_email" required="" name="email" value="{{email}}">
        </div>
        <div id="eerror" class="mb-3 text-danger"></div>
        <div class="mb-3">
          <label for="id_password" class="form-label">Password</label>
          <input type="password" class="form-control" id="id_password" name="password" required="" value="{{password}}">
          <button class="btn btn-outline-secondary" id="bt1" type="button" onclick="getText()" onmouseover="getText()" onmouseout="getPassword()">
            <i class="bi bi-eye-slash-fill"></i>
          </button>
        </div>
        <div id="perror" class="mb-3 text-danger"></div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <a href="{% url 'login_user' %}" class="text-decoration-none"> Already have an account ? </a>
</div>
<script>
  var password = document.getElementById('id_password');
  function getPassword(){
    let bt1 = document.getElementById('bt1');
    bt1.innerHTML = `<i class="bi bi-eye-slash-fill"></i>`;
      password.type = 'password';
  }
  function getText(){
    let bt1 = document.getElementById('bt1');
    bt1.innerHTML = `<i class="bi bi-eye-fill"></i>`;
    password.type = 'text';
  }
</script>
{%endblock%}

