{%  extends "app/basic.html" %}

{%block title%} {{user.username}} Profile {%endblock%}

{%block body%}   

<div class="container-fluid m-5 text-center">
        <form action="{% url 'updateprofile'%}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-4 border m-3 justify-items-center">
                    <img src="/app{{user.userprofile.pfp.url}}" class="rounded-circle img-thumbnail"  alt="Image of the user {{user.username}}">
                    <label for="id_pfp"></label>
                    <input type="file" id="id_pfp" name="pfp" accept="image/*">
                </div>
                <div class="col-6 border m-3">
                    <label class="form-label"  for="id_username">Username:</label>
                    <input type="text" class="form-control"  name="username" id="id_username" row="30" value="{{user.username}}" autocomplete="off">   
                    <label class="form-label"  for="id_description">Description:</label>
                    <textarea class="form-control"  name="description" id="id_description" row="30" >{{user.userprofile.description}}</textarea>                    
                </div>
            </div>
            <button class="btn btn-primary">Save Changes</button>
        </form>
        
    </div>

{%endblock%}
